.container {
    padding: 0px 20px;
    overflow: auto;
    width: 900px;
    background-color: lightgrey;
}

.cabecera {
    overflow: auto;
    padding: 5px 0px;
    width: 900px;
    background-color: dodgerblue;
}

.ini-ses {
    overflow: auto;
}

.ini-ses p {
    height: 20px;
    width: 100px;
    margin: 0px;
    float: right;
}

.titulo h1 {
    height: 50px;
    width: 300px;
    margin: 0px;
}

.navegacion {
    overflow: auto;
    margin: 0px;
    background-color: skyblue;
}

.navegacion p {
    width: 100px;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
}

.novedades {
    float: left;
    width: 100px;
    background-color: mediumblue;
    font-weight: bold;
}

.novedades:hover {
    cursor: hand;
    cursor: pointer;
}

.categorias {
    float: left;
    width: 100px;
}

.categorias:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.autores {
    float: left;
    width: 100px;
}

.autores:hover {
    background-color: dodgerblue;
    cursor: hand;
    cursor: pointer;
}

.contacto {
    float: left;
    width: 100px;
}

.contacto:hover {
    background-color: dodgerblue;
    cursor: hand;
    cursor: pointer;
}

.contenido {
    overflow-y: auto;
    width: 900px;
    margin-top: 5px;
}

.lista-nov {
    overflow-y: auto;
    width: 610px;
}

.lista-nov img {
    width: 70px;
    height: 70px;
    float: left;
    margin: 30px;
}

.lista-nov p {
    float: left;
    width: 410px;
    height: 70px;
    margin: 30px;
    font: bold 60% monospace;
    
}

.novedad1 {
    overflow: auto;
    width: 600px;
    height: 130px;
    border: solid black 1px;
}

.novedad2 {
    overflow: auto;
    width: 600px;
    height: 130px;
    border: solid black 1px;
}

.novedad3 {
    width: 600px;
    height: 130px;
    border: solid black 1px;
}

.novedad4 {
    width: 600px;
    height: 130px;
    border: solid black 1px;
}

.extra {
    overflow-y: auto;
    width: 300px;
}








